.body {
  background-color: aqua;
}
.div {
  background-color: blueviolet;
  text-align: center;
  font-size: large;
}
.div1 {
  background-color: rgb(160, 88, 88);
  color: rgb(26, 4, 4);
  font-size: x-large;
}
.button-section {
  text-align: center;
  margin: 20px;
}

.button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 4px;
  background-color: #e3ebf1;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #961616;
  color: #3498db;
}

.button img {
  max-width: 300px;
  max-height: 350px;
  margin-bottom: 1px;
}
