.body {
  background-color: aqua;
}
.h1 {
  background-color: #ffffff;
  text-align: center;
  font-family: serif;
}
.h2 {
  background-color: chocolate;
}
.button-section {
  text-align: center;
  margin: 20px;
}

.button {
  display: inline-block;
  padding: 30px;
  margin: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 4px;
  background-color: #111416;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #412b2b;
  color: #111213;
}

.button img {
  max-width: 204px;
  max-height: 192px;
  margin-bottom: 5px;
}
