.body {
  background-color: aqua;
}
.button-section {
  text-align: center;
  margin: 20px;
}

.button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 4px;
  background-color: #047e1e;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #c1e90f;
  color: #48708a;
}

.button img {
  max-width: 300px;
  max-height: 350px;
  margin-bottom: 5px;
}
.h1 {
  background-color: blueviolet;
  text-align: center;
  font-size: xx-large;
}
.h2 {
  background-color: blanchedalmond;
}
